.container {
    margin: 50px 0;
    width: 85%;
}

.card {
    margin: 0 2% !important;
    position: relative;
    overflow: visible !important;
}

@media (max-width: 768px) {
    .card {
        margin: 10px 0px !important;
    }
}

.cart_title_wrapper {
    width: 100% !important;
    text-align: center;
    position: absolute !important;
    top: -12px !important;
    left: 0px !important;
    display: flex;
    justify-content: center;
}
.card_title {
    font-weight: 700 !important;
    text-transform: uppercase;
    width: fit-content;
    background: white;
    padding: 0px 12px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px lightgrey;
}

.infected {
    background: rgb(77, 142, 228);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(77, 142, 228), #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(77, 142, 228), #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.recovered {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(59, 219, 185), rgb(86, 242, 221));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(59, 219, 185), rgb(86, 242, 221)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deaths {
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card_number {
    font-weight: 700 !important;
    color: whitesmoke !important;
}

.card_date {
    font-weight: 700 !important;
}

.card_text {
    color: antiquewhite !important;
}